@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pattaya', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(./img/bg.jpg) center center/cover no-repeat;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}
section .book{
    position: relative;
    width: 400px;
    height: 567px;
    transform-style: preserve-3d;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
section .book:hover{
    transform: rotateY(35deg);
}
section .book:active{
    transform: rotateY(180deg);
}

section .book::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 100%;
    transform-origin: left;
    background: url(./img/side1.png);
    background-position: center;
    transform: rotateY(90deg);
}
section .book::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    background: url(./img/back3.jpg) right center/cover no-repeat;
    background-position: center;
    transform: rotateY(180deg) translateZ(60px);
}

section .book img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}